.wrapper
  .left-contents
    .top-box
      .top-box__name
        = current_user.name
      .top-box__header-lists
        = link_to new_group_path do
          =fa_icon "pencil-square-o"
        = link_to edit_user_path(current_user) do
          =fa_icon 'cog', class: 'icon'
    .bottom-box
      = render partial: 'group'
  .main-contents
    .main-header
      .main-header__left-header
        %h2.header-name groupname
        %h3.header-member Member: sagawa
      .main-header__right-header
        .main-header__right-header__edit-button
          = link_to "#", class: "edit-button" do
            Edit
    .message-contents
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


